.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container__dropzone {
    flex: 0 0 200px;
    
    display: flex;
}

.dropzone {
    border: 4px dashed grey;
    display: flex;
    flex: 1;
    margin: 9px;
}

.dropzone > p {
    font-size: 32px;
    font-family: sans-serif;
    margin: auto;
}

.container__content {
    flex: 1 1 auto;    
    
    display: flex;
    flex-direction: row;
}


.filelist {
    flex: 0 0 350px;
    display: flex;
    border: 1px solid black;
    margin-right: 5px;
}

.filelist__ {
    display: flex;
    flex: 1;
    flex-direction: column;


    min-height: 1px;
    overflow-y: scroll;
}

.filelist__item:first-child {
    margin-top: 10px;
}

.filelist__item:last-child{
    margin-bottom: 10px;
}

.filelist__item {
    margin-bottom: 5px;
    min-height: 80px;
    border: 1px solid black;

    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    display: flex;

}
.filelist__item > p{
    margin: auto;
    word-wrap: break-word;
}

.viewer_container {
    display: flex;
    flex: 1 1 auto;

    flex-direction: column;
}

.viewer_wrapper {
    display: flex;
    flex-direction: row;

    flex: 1 1 auto;
}

.viewer_wrapper_2 {
    display: flex;
    flex-direction: row;
}

.viewer__pdf_image {
    border: 1px solid black;
    flex: 1;
}
.viewer__pdf_text {
    border: 1px solid black;
    flex: 1;
}

.viewer__controlls {
    flex: 0 0 80px;

    display: flex;
    flex-direction: row;
}

.viewer__controlls > button {
    margin-top: 38px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 100px;
}

